<% if Refinery.version < '0.9.9' %>
  <%= stylesheet_link_tag 'catalog' %>
  <%= javascript_include_tag 'catalog' %>
<% else %>
  <% content_for :javascripts, javascript_include_tag('catalog') %>
  <% content_for :stylesheets, stylesheet_link_tag('catalog') %>
<% end %>

<%= form_for [:admin, @catalog_type, @entry_attribute_type] do |f| %>
  <%= render :partial => "/shared/admin/error_messages",
             :locals => {
               :object => f.object,
               :include_object_name => true
             }  %>
  <div id='catalog_body' class='field clearfix'>
    <%= f.required_label t('.name') %>
    <%= f.text_field :name, :class => "larger widest" %>
  </div>
  <div id='catalog_body' class='field clearfix'>
    <%= f.label t('.active') %>
    <%= f.check_box :active, :class => "" %>
  </div>

  <%= link_to t(".attribute_type_values"), admin_entry_attribute_type_values_url, :class => "nothing_selected" %>

  <%= render :partial => "/shared/admin/form_actions",
             :locals => {
               :f => f,
               :continue_editing => true
             } -%>

<% end %>

