<div id='records'>
  <% if searching? %>
    <h2><%= t('shared.admin.search.results_for', :query => params[:search]) %></h2>
  <% end %>
  <% unless @entry_attribute_types.nil? %>
    <%= render :partial => 'list', :collection => @entry_attribute_types %>
  <% else %>
    <p>
      <% unless searching? %>
        <strong>
          <%= t('.no_attribute_types_yet') %>
        </strong>
      <% else %>
        <%= t('shared.admin.search.no_results') %>
      <% end %>
    </p>
  <% end %>
</div>
<div id='actions'>
  <ul>
    <li>
      <%= render :partial => "/shared/admin/search",
                 :locals => {:url => admin_catalog_type_entry_attribute_types_url(@catalog_type)} %>
    </li>
    <li>
      <%= link_to t('.create_new_attribute_type'), new_admin_catalog_type_entry_attribute_type_url(@catalog_type),
                  :class => "add_icon" %>
    </li>
  </ul>
</div>

