<% if Refinery.version < '0.9.9' %>
  <%= stylesheet_link_tag 'catalog' %>
  <%= javascript_include_tag 'catalog' %>
<% else %>
  <% content_for :javascripts, javascript_include_tag('catalog') %>
  <% content_for :stylesheets, stylesheet_link_tag('catalog') %>
<% end %>

<%= form_for [:admin, @catalog_type] do |f| %>
  <%= render :partial => "/shared/admin/error_messages",
             :locals => {
               :object => f.object,
               :include_object_name => true
             }  %>
  <div id='catalog_body' class='field clearfix'>
    <%= f.required_label t('.name') %>
    <%= f.text_field :name, :class => "larger widest" %>
  </div>

  <% new_record = @catalog_type.new_record? %>
  <% unless new_record %>
    <br/>
    <%= link_to t(".attribute_types"), admin_catalog_type_entry_attribute_types_url(@catalog_type), :class => "nothing_selected" %>
    <br/>
    <%= link_to t(".catalog_entries"), admin_catalog_type_catalog_entries_url(@catalog_type), :class => "nothing_selected" %>
  <% end %>

  <%= render :partial => "/shared/admin/form_actions",
             :locals => {
               :f => f,
               :continue_editing => true
             } -%>

<% end %>

