<% if Refinery.version < '0.9.9' %>
  <%= stylesheet_link_tag 'catalog' %>
  <%= javascript_include_tag 'catalog' %>
<% else %>
  <% content_for :javascripts, javascript_include_tag('catalog') %>
  <% content_for :stylesheets, stylesheet_link_tag('catalog') %>
<% end %>

<%= form_for([:admin, @catalog_type, @catalog_entry]) do |f| %>
  <%= render :partial => "/shared/admin/error_messages",
             :locals => {
               :object => f.object,
               :include_object_name => true
             }  %>
  <div id='catalog_body' class='field clearfix'>
    <%= f.required_label t('.title') %>
    <%= f.text_field :title, :class => "larger widest" %>
  </div>
  <% unless RefinerySetting.find_or_set(:catalog_has_no_index, true)%>
    <div class='field'>
      <%= f.label :image -%>
      <%= render :partial => "/shared/admin/image_picker", :locals => {
        :f => f,
        :field => :title_image_id,
        :image => @catalog_entry.title_image,
        :toggle_image_display => false
      } %>
    </div>
  <% end %>
  <div class='field clearfix'>
    <div id='page-tabs' class='clearfix ui-tabs ui-widget ui-widget-content'>
      <ul id='page_parts'>
        <li class='ui-state-default ui-state-active'>
          <%= link_to t('.content'), '#page_part_content'%>
        </li>
        <li class='ui-state-default'>
          <%= link_to t('.images'), '#catalog_image_picker'%>
        </li>
      </ul>
    </div>
    <div id='page_part_editors'>
      <div id='page_part_content' class='page_part'>
        <%= f.text_area :body, :class => "wymeditor widest", :rows => 7 %>
      </div>
      <div class='page_part wym_skin_refinery' id='catalog_image_picker'>
        <div class='wym_area_top'>
          <span class='clearfix label_inline_with_link'>
            <%= link_to t('.add_another_image').html_safe,
                        insert_admin_images_url(:dialog => true,
                                                :width => 866,
                                                :height => 510,
                                                :callback => "image_added"),
                        :id => "add_image_link" %>
          </span>
        </div>
        <div class='wym_box field images_field'>
          <ul id='catalog_images' class='clearfix catalog_entry_images'>
            <%= f.fields_for :images do |image_form| %>
              <li id='image_<%= image_form.object.id %>'>
                <%= image_form.hidden_field :id %>
                <%= image_fu image_form.object, '135x135#c' %>
              </li>
            <% end %>
            <li class='empty'>
              <%= hidden_field_tag "catalog_entry[images_attributes][#{@catalog_entry.images.size}][id]" %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <% if (nested_catalogs = nested_set_options(CatalogEntry, @catalog_entry) {|i| "#{'-' * i.level} #{i.title}" }).present? %>
    <div class='field'>
      <%= f.label t('.parent') %>
      <%= f.select :parent_id, nested_catalogs, :include_blank => true %>
    </div>
  <% end %>

  <% new_record = @catalog_entry.new_record? %>
  <br/>
  <% unless new_record %>
    <%= link_to t(".entry_attributes"), admin_catalog_type_catalog_entry_entry_attributes_url(@catalog_type, @catalog_entry), :class => "nothing_selected" %>
  <% end %>

  <%= render :partial => "admin/form_actions",
             :locals => {
               :f => f,
               :continue_editing => true,
               :cancel_url => admin_catalog_type_catalog_entries_url(@catalog_type),
               :delete_url => new_record ? '' : admin_catalog_type_catalog_entry_path(@catalog_type, @catalog_entry),
               :hide_delete => new_record
             } -%>

<% end %>

